header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: #2d2d2d; /* Dark background to match navbar */
    border-radius: 25px;
}

.search-bar input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: #2d2d2d; /* Match the dark background */
    color: #fff; /* White text */
    font-size: 16px;
    outline: none;
}

.search-bar input::placeholder {
    color: #bfbfbf; /* Light gray placeholder text */
}

.search-bar .buttonForTerm {
    background-color: #2d2d2d; /* Blue background for the button */
    border: none;
    border-radius: 0 25px 25px 0;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    text-decoration: none;
}

.search-bar .buttonForTerm i {
    color: #fff; /* White icon */
    font-size: 18px;
}

.search-bar input:focus {
    border-color: #333; /* Focus effect on input */
}
.search-bar .buttonForTerm:hover{
    background-color: #444;
}

.navbar-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.cart-btn {
    background-color: #008cba;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart-btn:hover,
.dropdown-btn:hover {
    background-color: #005f8a;
}
